@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  margin: 0px;
}

* {
  font-family: "Montserrat" !important;
}

.MuiPagination-root {
  button {
    background-color: #ffffff !important;
  }
  .Mui-selected {
    background-color: #feaf00 !important;
  }
}

input {
  width: 120px;
  height: 25px;
  border-top: none;
  border-left: none;
  border-right: none;

}

input:focus {
  outline: none; 
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #feaf00;
}
